<div class="panel panel-warning">
	<div class="panel-heading"><i class="fa fa-question-circle" aria-hidden="true"></i> Справка</div>
	<div class="panel-body">
		<p>
			Эмулятор представляет собой набор веб-сервисов. Каждый сервис представлен конечным автоматом.
			Добавление нового сервиса сводится к добавлению описания его конечного автомата.
			Конечный автомат описывается в формате &laquo;State/Event&raquo; таблицы.
		</p>
		<p>
			Событие (event) представляет собой кортеж (<strong>endpoint</strong>, <strong>input</strong>),
			то есть URI для обращения и входящие данные, на которые автомат будет реагировать.
		</p>
		<p>
			Переход автомата, помимо нового состояния (<strong>next</strong>), также определяет
			некоторый выход (<strong>output</strong>), который посылается в ответ на HTTP-запрос.
		</p>
		<p>
			Входящие данные можно задавать с помощью подстановок &laquo;<strong>__*__</strong>&raquo;.
			Например, шаблон &laquo;1__*__2&raquo; будет справедлив как для входа &laquo;12&raquo;, так и для
			входа &laquo;1AABBBB2&raquo;. Возможно использование нескольких подстановок.
		</p>
		<p>
			Эмулятор поддерживает одновременную работу множества клиентов с помощью <strong>сессионных ключей</strong>.
			По умолчанию все клиенты находятся в рамках одной сессии, поэтому текущие состояния конечных автоматов
			у всех одинаковые. Для работы в рамках отдельной сессии, клиенту необходимо в каждом запросе
			передавать произвольный идентификатор сессии (например, заранее созданное случайное число).
			Идентификатор сессии можно передавать либо в header'е &laquo;<strong>session-id</strong>&raquo;,
			либо в одноимённом GET-параметре запроса.
		</p>
		<p>
			Сохранение изменений перезагружает все сервисы и сбрасывает текущие состояния для всех сервисов.
		</p>
		<p>
			У каждого веб-сервиса есть служебные точки входа:
		</p>
		<ul>
			<li><strong>/man</strong> &mdash; общая информация о сервисе;</li>
			<li><strong>/reset</strong> &mdash; сброс состояния сервиса в состояние по умолчанию (для всех сессий).</li>
		</ul>
	</div>
</div>
